extends layout

block content
  h1= title
  .container
    .card
        .card-body.h1  Hi! #{name} 
        .card-footer Successfully #{loggedMethod} 
            a(href='/users/allUser?token=' + token) View All User