<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Admin Sidebar</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Welcome Admin</p>
            <div class="sidebar-menus">
                <li *ngFor="let menu of menus" routerLinkActive="active">
                    <ng-container *ngIf="menu.subMenus.length!=0; else elseTemplate">
                        <a [href]="'#'+menu.route" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >{{menu.name}}</a>
                        <ul class="collapse list-unstyled" [id]="menu.route" routerLinkActive="show">
                            <li *ngFor="let subMenu of menu.subMenus" routerLinkActive="active">
                                <a [routerLink]="[ '/admin',subMenu.route ]">{{subMenu.name}}</a>
                            </li>
                        </ul>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <a [routerLink]="[ '/admin',menu.route ]">{{menu.name}}</a>
                    </ng-template>
                </li>
            </div>
        </ul>
    </nav>
    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>