<div class="col-md-5 mx-auto">
    <div class="card">
        <div class="card-header">
                <ul class="nav nav-tabs nav-fill card-header-tabs ">
                    <li class="nav-item">
                        <a class="nav-link " [routerLink]="[ '/login']" routerLinkActive="active">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[ '/signup']" routerLinkActive="active">Signup</a>
                    </li>
                </ul>
        </div>
        <div class="card-body">
            <div class="container py-1">
                <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" formControlName="name" class="form-control" id="name" name="name" placeholder="Enter Name"  [ngClass]="{'is-invalid': isFieldInvalid(formControl.name)}">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" formControlName="email" class="form-control" id="email" name="email" placeholder="Enter email"  [ngClass]="{'is-invalid': isFieldInvalid(formControl.email)}">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control" id="password" name="password" placeholder="Password"  [ngClass]="{'is-invalid': isFieldInvalid(formControl.password)}">
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender</label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" formControlName="gender" type="radio" name="gender" id="male" value="Male" checked  [ngClass]="{'is-invalid': isFieldInvalid(formControl.gender)}">
                            <label class="form-check-label" for="male">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" formControlName="gender" type="radio" name="gender" id="female" value="Female"  [ngClass]="{'is-invalid': isFieldInvalid(formControl.gender)}">
                            <label class="form-check-label" for="female">Female</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>