<div class="bg-white side-nav px-0 border-right bg-dark">
    <!-- Sidebar -->
    <nav id="sidebar">
        <ul class="list-unstyled components mb-5">
            <!--Avatar -->
            <div class="card border-0 mt-2">
                <div class="avatar mx-2 white"><img [src]='user.avatar' class=" img-fluid rounded-circle img-thumbnail">
                </div>
                <div class="card-body">
                    <!-- Name -->
                    <h4 class="card-title text-center text-capitalize"> {{user.name}}</h4>
                </div>
            </div>
            <!--Avatar Ends-->
            <div class="list-group list-group-flush" id="list-tab" role="tablist">
                <ng-container *ngFor="let menu of menus">
                    <a class="list-group-item list-group-item-action  border-0" data-toggle="list" href="#list-home" role="tab" [routerLink]="[ from,menu.route ]"
                        routerLinkActive="active">
                        {{menu.name}}
                    </a>
                </ng-container>
            </div>
        </ul>
        <ul class="menu-bottom  mb-0 px-0 mt-1 border-right border-bottom list-unstyled components">
            <div class="list-group list-group-flush" id="list-tab" role="tablist">
                <button type="button" id="handPointer" class="list-group-item list-group-item-action border-0" (click)='logOut()'>Log
                    Out
                </button>
            </div>
        </ul>
    </nav>
</div>